<div class="container-fluid" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">SimpleBlog</h1>
    <p class="lead">This is the Simple Blog that you can post everthing about life-style, sports, global-issues, and so on.</p>
    <hr class="my-4">
    <p>We will be creating more functions and planning to be developped in the future.</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
